body {
    background: url("https://ideogram.ai/assets/progressive-image/balanced/response/HFKrrmHaQ2mZgGcWaNdq9w") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(12, 58, 114);
    font-weight: bolder;
    text-align: center;
}

h1 {
    color: #333;
}

#game-container {
    display: inline-block;
    margin-top: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-gap: 5px;
    padding: 20px;
    width: 500px;
    background-color: rgb(190, 201, 204);
    border: 5px solid rgb(82, 89, 90);
}

#board img {
    width: 50px;
    height: 50px;
}

#info {
    margin-top: 20px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #0b031d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

#popupModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #301a64;
    margin: 15% auto;
    color: aliceblue;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #e7e1e1;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.my {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
